<html xlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:bk2k="http://typo3.org/ns/BK2K/BootstrapPackage/ViewHelpers" data-namespace-typo3-fluid="true">
<f:section name="PhonebookSearch">
    <div class="ku-phonebook-wrapper">
        <h2 class="ku-phonebook-header">{data.header}</h2>
        <f:form action="searchform" class="form class_ajax" pageUid="" name="search" noCache="true" method="post" pageType="" class="row row-cols-lg-auto g-3 align-items-center">
            <div class="col-12">
                <label for="kuPhonebook" class="visually-hidden">
                    <f:translate key="phonebook_label" /></label>
                <f:form.type="search" name="kuPhonebook" id="kuPhonebook" class="form-control" placeholder="{f:translate(key:'phonebook_placeholder')}" required />
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </f:form>
    </div>
</f:section>

</html>