<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="Header" />
<f:spaceless>
    <f:section name="Main">
        <f:render section="PhonebookSearch" arguments="{_all}" />
    </f:section>
</f:spaceless>
<f:section name="PhonebookSearch">
    <div class="ku-phonebook-wrapper">
        <h2 class="ku-phonebook-header">{data.header}</h2>
        <f:form action="searchform" class="form class_ajax" object="{search}" pageUid="{settings.flexform.pages.list.pid}" name="search" noCache="true" method="post" pageType="871" class="row row-cols-lg-auto g-3 align-items-center">
            <div class="col-12">
                <label for="kuPhonebook" class="visually-hidden">
                    <f:translate key="phonebook_label" /></label>
                <f:form.type="search" name="kuPhonebook" id="kuPhonebook" class="form-control" placeholder="{f:translate(key:'phonebook_placeholder')}" required />
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </f:form>
    </div>
</f:section>